@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #FFFDC1;

}

nav {
    background-color: #FEFFE9;
    border-bottom: 2px solid black;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: -70px;
}

nav li {
    height: 95px;
    
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #2E3105;
}

.tabs {
    font-size: 17px;
    font-family: "Roboto Flex", serif;
    font-weight: 200;
}

nav a:hover {
    text-decoration: underline;
}

nav li:first-child {
    margin-right: auto;
}

.main-tab {
    font-size: 20px;
    font-family: "Aleo", serif;
    font-weight: 300;
    margin-left: 20px;
    color: #2E3105;
}

.resume {
    font-size: 17px;
    font-family: "Roboto Flex", serif;
    font-weight: 200;
    border-radius: 28px;
    background-color: #2E3105;
    color: #FEFFE9;
    width: 50%;
    padding: 15px 16px;
    margin-right: 66px;
    text-align: center; 
    display: inline-block;
    vertical-align: middle;
}

.name {
    font-size: 75px;
    font-family: "Aleo", serif;
    font-weight: 400;
    margin-left: 150px;
    margin-top: 160px;
    padding-bottom: 25px;
}

.intro {
    width: 550px;
    font-size: 25px;
    font-family: "Aleo", serif;
    font-weight: 350;
    word-wrap: break-word;
}

.container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    margin: 25px 150px 0; 
}

.text-section {
    display: flex;
    flex-direction: column; 
    max-width: 600px; 
}

.index-img {
    height: 530px;
    width: 490px;
    padding-bottom: 50px;
    border-radius: 35px;
    margin-top: -140px;
    margin-right: -50px;
}

.socials {
    display: inline;
    margin: 18px 1px 25px; 
}

.social-img {
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: 20px;
}

/* project css */

.project-label {
    width: 650px;
    font-size: 60px;
    font-family: "Aleo", serif;
    font-weight: 400;
    margin-left: 150px;
    margin-top: 160px;
    padding-bottom: 25px;
}

.github-btns {
    display: inline;
    margin: 18px 1px 25px; 
    width: 700px;
}

.btnA, .btnB {
    font-size: 17px;
    font-family: "Roboto Flex", serif;
    font-weight: 200;
    border-radius: 28px;
    width: 200px;
    padding: 15px 16px;
    margin-right: 66px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    color: #2E3105;
}

.btnA {
    background-color: #FEFFE9;
}

.btnB {
    background-color: #DFE777;
}

.video {
    height: 450px;
    width: 760px;
    padding-bottom: 50px;
    margin-top: -165px;
    margin-right: -10px;
}

.A {
    background-color: #DFE777;

}

.B {
    background-color: #B8BC7F;
}

.A, .B {
    padding-top: 1px;
    padding-bottom: 40px;
    border-bottom: 2px solid black;
}

.project-section {
    display: flex;
    flex-direction: column; 
    max-width: 600px; 
}

.project-img {
    height: 350px;
    width: 520px;
    border-radius: 0%;
    margin-left: -80px;
}

.project-img-square {
    height: 520px;
    width: 520px;
    border-radius: 0%;
    margin-left: -100px;
}

.ptext {
    width: 580px;
    font-size: 18px;
    font-family: "Aleo", serif;
    font-weight: 350;
    word-wrap: break-word;
    margin-bottom: 20px;
}